version: "3.2"
services:
  web:
    build: .
    command: uvicorn api.QRcode:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    depends_on:
      - db
  db:
    image: mongo
    ports:
      - "27017:27017"